#form 
{
    margin: auto;
    width: 25%;
    padding: 10px;
    color:#8cb2e3
  
}

body {
    font-size: large;
    font-family: sans-serif;
}

input[type=submit] {
    margin: auto;
    background: #8400a2;
    color: white;
    height: 40px;
    width: 75px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #5f9ed6;
    color: white;
}

input[type=text] {
    border-radius: 4px;
}